/* line 1, app/assets/stylesheets/typeahead.css.scss */
.twitter-typeahead .tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

/* line 22, app/assets/stylesheets/typeahead.css.scss */
.twitter-typeahead .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

/* line 32, app/assets/stylesheets/typeahead.css.scss */
.twitter-typeahead .tt-suggestion:hover,
.twitter-typeahead .tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
  cursor: pointer;
}

/* line 41, app/assets/stylesheets/typeahead.css.scss */
.twitter-typeahead .tt-suggestion.tt-cursor {
  color: #ffffff;
  background-color: #428bca;
}

/* line 45, app/assets/stylesheets/typeahead.css.scss */
.twitter-typeahead {
  width: 100%;
}

/* line 49, app/assets/stylesheets/typeahead.css.scss */
.twitter-typeahead {
  display: block !important;
}

/* line 52, app/assets/stylesheets/typeahead.css.scss */
.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}

/* line 55, app/assets/stylesheets/typeahead.css.scss */
.twitter-typeahead .tt-dropdown-menu {
  top: 44px !important;
}

/* line 58, app/assets/stylesheets/typeahead.css.scss */
.twitter-typeahead .tt-dropdown-menu {
  top: 28px !important;
}
