%h1 Laptops#index
%p Find me in app/views/laptops/index.html.haml

=form_tag 'index', :method => :post do
  =text_area_tag 'laptops', @laptops, :autofocus => true ,:placeholder => "Enter many many laptops use 2 enters as a delimiter"
  %div{:id => 'form-buttons'}
    =check_box_tag 'use_delimiter', 'yes', @use_delimiter
    =label_tag 'use_delimiter', 'Use my own delimiter'
    =text_field_tag 'delimiter', @delimiter, :placeholder => 'Enter your own delimiter'
    %br
    =button_tag 'Clear', :id=> 'clear_btn', :type => 'submit', :name => 'commit', :value => 'clear'
    =button_tag 'Sort laptops', :id=> 'search_btn', :type => 'submit', :name => 'commit', :value => 'sort'
-unless @sorted_laptops.empty?
  %p Found #{@good_laptops_count + @bad_laptops_count} laptops: #{@good_laptops_count} with good data and #{@bad_laptops_count} with bad data
  %p Sorted list of phone best-to-worst:
  %table
    %tr
      %th Place
      %th Average index
      %th CPU index
      %th CPU model
      %th GPU index
      %th GPU model
      %th Price
    -@sorted_laptops.each  do |laptop|
      %tr
        %td
          =@sorted_laptops.index(laptop) + 1
        %td
          =laptop[:avg_index]
        %td{:class => ('bad_data' if laptop[:cpu_index] == -1)}
          -if laptop[:cpu_index] != -1
            =link_to laptop[:cpu_index], @cpu_href, :target => '_blank'
          -else
            =laptop[:cpu_index]
        %td{:class => ('bad_data' if laptop[:cpu_index] == -1)}
          -if laptop[:cpu_index] != -1
            =link_to laptop[:cpu_model], laptop[:cpu_model_href], :target => '_blank'
          -else
            =laptop[:cpu_model]
        %td{:class => ('bad_data' if laptop[:gpu_index] == -1)}
          -if laptop[:gpu_index] != -1
            =link_to laptop[:gpu_index], @gpu_href, :target => '_blank'
          -else
            =laptop[:gpu_index]
        %td{:class => ('bad_data' if laptop[:gpu_index] == -1)}
          -if laptop[:gpu_index] != -1
            =link_to laptop[:gpu_model], laptop[:gpu_model_href], :target => '_blank'
          -else
            =laptop[:gpu_model]
        %td
          =laptop[:price]
      %tr
        %td{:colspan => 5}
          =laptop[:desc]
