<!DOCTYPE html>
<html>
<head>
  <title>Choose best laptop</title>
  <meta name="google-site-verification" content="c6RYH9hm0G85TJD1lHHtzPGXfRlQpdvqd8oqFgThTdg" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
