<!DOCTYPE html>
<html>
<head>
  <title>Choose best laptop between several ones</title>
  <meta name="google-site-verification" content="c6RYH9hm0G85TJD1lHHtzPGXfRlQpdvqd8oqFgThTdg" />
  <meta name="description" content="If you are tired of comparing multiple laptops' features and don't know which one to choose. This site will try to help you by sorting entered laptop by CPU/GPU rating and price. Functionality is based on CPU/GPU benchmarks from http://www.notebookcheck.net/ web site."/>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
